{% extends 'base.html.twig' %}

{% block title %}Plan de placement{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Veuillez sélectionner les salles :</h1>
  
{{ form_start(form) }}


{{ form_row(form.Salle)}}


<button type="submit" class="btn btn-dark">Générer</button>
{{ form_end(form) }}
</div>
    
{% endblock %}

