{% extends 'base.html.twig' %}

{% block title %}Edit Placement{% endblock %}

{% block body %}
    <h1>Edit Placement</h1>

    {{ include('placement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_placement_index') }}">back to list</a>

    {{ include('placement/_delete_form.html.twig') }}
{% endblock %}
